@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import "../_mixins";

body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0D1323;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.dashboard{

    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 30px;

    section{

        margin: 0 20px;
        border-radius: 20px;
        background-color: #1D204B;
        color: #fff;
        height: 100%;

        &.description{
            
          
            .description__content{

                background-color: #5746EA;
                border-radius: 20px;
                height: 60%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
               
                img{

                    height: 80px;
                    width: 80px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }

                p{
                    line-height: 1.2em;
                    font-size: 20px;
                    
                    span{
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 14px;
                    }
                }

            }

            nav{
            
                width: 100%;
                height: 100%;
                margin: 30px 0;
                
                ul{
                    
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    
                    li{

                        list-style-type: none;
                       
                        a{
                            color: #fff;
                            text-decoration: none;
        
                        }
                    }
                } 
            }
        }

        .row1, .row2{
                
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            margin: auto;
        }
      

        .container{
                
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80%;
            border-radius: 20px;
            background-color: #1D204B;

            h2{

                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1.5px;

            }
            
            h3{

                font-size: 25px;
                font-weight: normal;

                @include desktop{
                    font-size: 32px;
                }
            }

            a{
                text-decoration: none;
                color: #fff;
                font-size: 40px;
                transform: translateY(-10px);
            }
            
            p{
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);;
            }
        }

        &.work, &.play, &.study, &.exercise, &.social,
        &.self{

            // background-image: url("../images/icon-work.svg");
            background-position: top right;
            background-repeat: no-repeat ;
            position: relative;
        }

        &.work{
            background-image: url("../images/icon-work.svg");
            background-color: #FF8B62;
        }
        &.play{

            background-image: url("../images/icon-play.svg");
            background-color: #56C2E6;     
        }

        &.study{

            background-image: url("../images/icon-study.svg");
            background-color: #FF5E7D;  
        }

        &.exercise{

            background-image: url("../images/icon-exercise.svg");
            background-color: #4BCF83;         
        }

        &.social{

            background-image: url("../images/icon-social.svg");
            background-color: #7235D1;        
        }

        &.self{

            background-image: url("../images/icon-self-care.svg");
            background-color: #F1C65C;
        }
    }
}

@media screen and (min-width: 980px){

    .dashboard{

        grid-template-columns: 2fr repeat(3, 1fr);
        grid-template-rows: repeat(2,300px);
        grid-gap: 20px;

        .exercise{
            grid-column: 2/3;
        }

        .description{
            
            grid-row: 1/3;
            
            .description__content{

                display: flex;
                flex-direction: column;
                position: relative;

                p{

                    margin: 20px;
                    padding: 0px 20px;
                    font-size: 30px !important;
                    text-align: center;
                }

                img{
                    position: absolute;
                    top: 50px;
                    left: 20px;
                }
            }

            ul{

                flex-direction: column;

                li{
                    margin: 20px 0;
                }
            }
        }

        .container{
        
            height: 80%;
        }

        .row2{
                
          flex-direction: column;
          float: left;

           h3{

                font-size: 550px;
            }
        }

    }
}