@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import "../_mixins";

body{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #0D1323;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.dashboard{

    display: grid;
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 30px;
    margin: 30px 10px;

    .description__content{

        background-color: #5746EA;
        border-radius: 20px;
        height: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        img{

            height: 80px;
            width: 80px;
            border: 2px solid #fff;
            border-radius: 50%;
        }

        p{
            line-height: 1.2em;
            font-size: 20px;
            
            span{

                color: rgba(255, 255, 255, 0.7);
                font-size: 14px;
            }

            @include desktop{
            
                width: 80%;
                font-size: 50px;
                font-weight: bold;
                line-height: 1.4;
                
            }
        }

        @include desktop{

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px 0px 0px 20px;
    
        }
    }

    nav{
            
        width: 100%;
        transform: translateY(15px);

        ul{
            display: flex;
            align-items: center;
            
            li{

                list-style-type: none;
                margin-left: 25px;
               
                a{

                    color: rgba($color:#fff, $alpha: 0.7);
                    text-decoration: none;

                    &:focus{

                        color: white;
                        font-weight: bold;
                    }
                }
             
                @include desktop{
                    margin: 20px 0;
                }
            }
            @include desktop{
                flex-direction: column;
            }
        } 
    }

    section{

        margin: auto;
        border-radius: 20px;
        background-color: #1D204B;
        color: #fff;
        height: 100%;
        position: relative;
        width: 97%;
    
        &.work, &.play, &.study, &.exercise, &.social,
        &.self{
            position: relative;
            background-position: top right;
            background-repeat: no-repeat;
        }
        
        &.work{
            background-image: url("../images/icon-work.svg");
            background-color: #FF8B62;
        }
        &.play{
    
            background-image: url("../images/icon-play.svg");
            background-color: #56C2E6;     
        }
    
        &.study{
    
            background-image: url("../images/icon-study.svg");
            background-color: #FF5E7D;  
        }
    
        &.exercise{
    
            background-image: url("../images/icon-exercise.svg");
            background-color: #4BCF83;         
        }
    
        &.social{
    
            background-image: url("../images/icon-social.svg");
            background-color: #7235D1;        
        }
    
        &.self{
    
            background-image: url("../images/icon-self-care.svg");
            background-color: #F1C65C;
        }
        
        .container{

            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80%;
            border-radius: 20px;
            background-color: #1D204B;

            .row-title, .row-hours{

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                @include desktop{
                    
                    width: 90%;
                    margin: auto;
                    align-items: flex-start;
                }
            }

            .row-hours{

                @include desktop{

                    flex-direction: column;
                
                    h3{

                        margin: 0;
                        font-size: 50px;
                        font-weight: 700;
                    }
                }
            }

            h2{

                font-size: 20px;
                font-weight: 500;
                letter-spacing: 1.5px;

                @include desktop{

                    font-weight: bold;
                }
            }

            h3{

                font-size: 25px;
                font-weight: normal;
            }

            a{

                text-decoration: none;
                color: #fff;
                font-size: 40px;
                transform: translateY(-10px);

                @include desktop{

                    font-size: 50px;
                    transform: translateY(-20px);
                    font-weight: bold;
                }
            }

            p{
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);;
            }
        }
    }

    @include desktop{

        grid-template-columns: 350px repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
        grid-gap: 20px;
        margin: 30px;
        .description{
            grid-row: 1/3;
        }

        .exercise{
            grid-column: 2/3;
        }
    }
}